{% extends 'base.html.twig' %}

{% block title %}Hello MessageChanelController!{% endblock %}

{% block body %}
{{ include('nav.html.twig')}}
<!-- component -->
<!-- This is an example component -->
<div class="h-screen shadow-lg rounded-lg">
        <!-- headaer -->
    <div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
            <div class="font-semibold text-2xl">{{ chanel.projet.name }}</div>
            <div class="font-semibold h-full pr-5 border-r-2 no-underline uppercase">
            <a class="text-gray-500" href="{{ path('message_projet', {'id': chanel.projet.id}) }}">General</a>
            </div>
            {% for chanel in chanel.projet.chanel %}
            <div class="font-semibold h-full pr-5 border-r-2 no-underline uppercase">
            <a class="text-gray-500" href="{{ path('message_chanel', {'id': chanel.id}) }}">{{ chanel.techno.name }}</a>
            </div>
            {% endfor %}
    </div>
    <!-- end header -->
    <!-- Chatting -->
    <div class="h-5/6 flex flex-row justify-between bg-white">
      <!-- drive -->
        <div class="border-r-2 overflow-y-auto">
            {{ include('file/index.html.twig') }}
        </div>
      <!-- drive -->
      <!-- message -->
      <div class="w-3/5 px-5 flex flex-col justify-between">
        <div class="h-full flex flex-col mt-5">
        {% for message in messages %}
        {% if app.user.id is same as message.user.id %}
        <div class="flex justify-end mb-4">
            <div
              class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
            >
              {{ message.content }}
            </div>
          </div>
        {% else %}
        <div class="flex justify-start mb-4">
            <div
              class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white"
            >
              {{ message.content }}
            </div>
          </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="py-5">
         {{ include('message_chanel/_form.html.twig') }}
        </div>
      </div>
      <!-- end message -->
      </div>
    </div>
</div>
{% endblock %}
