<svg class="draw" version="1.0" xmlns="http://www.w3.org/2000/svg" width="319.000000pt" height="182.000000pt" viewBox="0 0 219.000000 82.000000" preserveAspectRatio="xMidYMid meet">

	<g transform="translate(0.000000,82.000000) scale(0.100000,-0.100000)" fill="none" stroke="#ffffff">
		<path d="M227 746 c-67 -24 -97 -66 -97 -136 l0 -40 -40 0 -40 0 0 -54 0 -55
            38 -3 37 -3 3 -157 3 -158 64 0 64 0 3 158 3 157 68 3 67 3 0 -161 0 -161 68
            3 67 3 3 213 2 212 -140 0 c-80 0 -140 4 -140 9 0 5 4 21 10 35 9 24 14 26 70
            26 l60 0 0 60 0 60 -67 0 c-38 -1 -85 -7 -106 -14z"></path>
		<path d="M1111 569 c-150 -29 -213 -237 -108 -356 83 -94 246 -98 331 -7 14
            16 26 34 26 40 0 6 -25 18 -56 27 -53 15 -56 15 -75 -4 -19 -19 -71 -25 -104
            -13 -8 4 -22 19 -31 35 l-15 29 146 0 c168 0 166 -1 147 88 -25 121 -131 186
            -261 161z"></path>
		<path d="M550 566 c0 -7 142 -392 152 -409 7 -15 20 -17 66 -15 l57 3 39 105
            c21 58 55 153 77 213 l38 107 -69 0 -69 0 -39 -122 -39 -123 -38 123 -38 122
            -69 0 c-37 0 -68 -2 -68 -4z"></path>
		<path d="M1410 355 l0 -216 68 3 67 3 5 137 c6 157 10 167 84 175 l45 6 3
            -159 3 -159 68 -3 67 -3 0 125 c0 70 5 136 11 149 14 31 48 47 99 47 l40 0 0
            56 0 57 -52 -5 c-40 -4 -57 -11 -75 -32 l-23 -27 0 30 0 31 -104 0 c-98 0
            -106 -2 -135 -26 l-31 -26 0 26 c0 25 -1 26 -70 26 l-70 0 0 -215z"></path>
	</g>
</svg>
</div>
<nav class="relative px-4 py-4 flex justify-between items-center bg-white mt-3 sticky top-0 h-12">
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="{{ path('sujet_index') }}">Salon</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="{{ path('projet_index') }}">Projets</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="#">Autre menu</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="text-sm text-gray-400 hover:text-gray-500" href="#">Encore un autre</a></li>
		</ul>

		{% if app.user == false %}
      <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" href="{{ path('app_register') }}">Sign In</a>
            <a class="hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-xl transition duration-200" href="{{ path('app_login') }}">Sign up</a>
        {% else %}
			<a class="hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-xl transition duration-200" href="{{ path("user_show", {id: app.user.id}) }}">My account</a>
            <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold font-bold  rounded-xl transition duration-200" href="{{ path('app_logout') }}">Logout</a>
            <a class="hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-xl transition duration-200" href="{{ path("user_show", {id: app.user.id}) }}">My account</a>
        {% endif %}

	</nav>
</div>

