{% extends 'base.html.twig' %}

{% block title %} All Subjects {% endblock %}

{% block body %}
    <h1>Tous les sujets de la table sujet : </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button>Search</button>
    {{ form_end(form) }}
    {% for sujet in sujets %}
       
            <h2>{{ loop.index }} / {{ sujet.name }}</h2>
            <p>{{ sujet.shortDescription }}</p>
            <p>{{ sujet.user.firstName }}</p>
            <p>{{ sujet.topic.name }}</p>

            <a href="{{ path("sujet_show", {id: sujet.id}) }}">voir le sujet</a>
            {% if app.user.id == sujet.user.id %}
                <a href="{{ path("sujet_edit", {sujetId: sujet.id}) }}">editer</a>
            {{ include('sujet/_delete_form.html.twig') }}
            {% endif %}
            <br>
            <hr>
    {% else %}
        Aucun sujet trouvé.
    {% endfor %}

    <a href="{{ path('sujet_new') }}">
        Poster un nouveau sujet
    </a>
    <a href="{#{ path('home') }#}">
        Retour à l'accueil
    </a>
{% endblock %}