{% extends 'base.html.twig' %}

{% block title %}{{ sujet.name }}{% endblock %}

{% block body %}
<div class="overflow-x-hidden bg-green-50">
    <div class="text-center">
        <div class="container flex justify-between mx-auto">
            <div class="w-full ">
                <div class="mt-6">
                    <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                        <div class="flex items-center justify-between"><span class="font-light text-gray-600">
                                    {{ sujet.date|date('d-m-Y') }}
                                </span>
                            <a href="#" class="px-2 py-1 font-bold text-gray-100 bg-green-400 rounded hover:bg-gray-500">
                                {{ sujet.topic.name }}
                            </a>
                        </div>
                        <div class="mt-2"><a href="{{path('sujet_show', {id: sujet.id} ) }}" class="text-2xl font-bold text-gray-700 hover:underline">{{ sujet.name }}</a>
                            <p class="mt-2 text-gray-600">
                                {{ sujet.shortDescription }}
                            </p>
                            <p class="font-bold text-gray-700 hover:underline text-right">{{ sujet.user.firstname }} {{ sujet.user.lastname }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>









    {% for message in sujet.messageSujets %}
        {% if (loop.index %2) != 0 %}
            <div class="container flex float-right">
                <div class="w-full ">
                    <div class="mt-6">
                        <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                            <div class="flex items-center justify-between"><span class="font-light text-gray-600">
                                    {{ message.date|date('d-m-Y H:m') }}
                                </span>
                            </div>
                            <div class="mt-2"><p class="text-2xl font-bold text-gray-700 hover:underline">{{ message.user.firstname }}</p>
                                <p class="mt-2 text-gray-600">
                                    {{ message.message }}
                                </p>
                                <p class="font-bold text-gray-700 hover:underline text-right">{{ sujet.user.firstname }} {{ sujet.user.lastname }}</p>
                            </div>
                            <hr/>
                            {% if app.user.id == message.user.id %}
                                <div class="flex items-center justify-between mt-4">
                                    <a href="{{ path('comment_sujet_edit', {id: message.id}) }}" class="uk-button uk-button-text">modifier</a>
                                    {{ include('comment_sujet/_delete_form.html.twig') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container flex float-left">
                <div class="w-full ">
                    <div class="mt-6">
                        <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                            <div class="flex items-center justify-between"><span class="font-light text-gray-600">
                                    {{ message.date|date('d-m-Y H:m') }}
                                </span>
                            </div>
                            <div class="mt-2"><p class="text-2xl font-bold text-gray-700 hover:underline">{{ message.user.firstname }}</p>
                                <p class="mt-2 text-gray-600">
                                    {{ message.message }}
                                </p>
                                <p class="font-bold text-gray-700 hover:underline text-right">{{ sujet.user.firstname }} {{ sujet.user.lastname }}</p>
                            </div>
                            <hr/>
                            {% if app.user.id == message.user.id %}
                                <div class="flex items-center justify-between mt-4 ">
                                    <a href="{{ path('comment_sujet_edit', {id: message.id}) }}" class="uk-button uk-button-text">modifier</a>
                                    {{ include('comment_sujet/_delete_form.html.twig') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}


    {{ include('comment_sujet/new.html.twig') }}

    <a href="{{ path('sujet_index') }}">
        Retour aux sujets
    </a>

{% endblock %}
