{% extends 'base.html.twig' %}

{% block title %}Hello MessageProjetController!{% endblock %}

{% block body %}
{{ include('nav.html.twig')}}
<!-- component -->
<!-- This is an example component -->
<div class="h-screen shadow-lg rounded-lg">
        <!-- headaer -->
    <div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
            <div class="font-semibold text-2xl">{{ projet.name }}</div>           
            <div class="font-semibold h-full pr-5 border-r-2 no-underline uppercase">
            <a class="text-gray-500" href="#">General</a>
            </div>
            {% for chanel in projet.chanel %}
            <div class="font-semibold h-full pr-5 border-r-2 no-underline uppercase">
            <a class="text-gray-500" href="{{ path('message_chanel', {'id': chanel.id}) }}">{{ chanel.techno.name }}</a>
            </div>
            {% endfor %}
    </div>
    <!-- end header -->
    <!-- Chatting -->
    <div class="h-5/6 flex flex-row justify-between bg-white">
      <!-- chat list -->
      <div class="flex flex-col w-1/6 border-r-2 overflow-y-auto">
        <!-- user list -->
        <div
          class="flex flex-row py-4 px-2 justify-center items-center border-b-2"
        >
          <div class="w-1/4">
            <img
              src="https://source.unsplash.com/_7LbC5J-jw4/600x600"
              class="object-cover h-12 w-12 rounded-full"
              alt=""
            />
          </div>
          <div class="w-full">
            <div class="text-lg font-semibold"><a href="#" class="text-gray-500">Discussion</a></div>
          </div>
        </div>
        <div class="flex flex-row py-4 px-2 items-center border-b-2">
          <div class="w-1/4">
            <img
              src="https://source.unsplash.com/otT2199XwI8/600x600"
              class="object-cover h-12 w-12 rounded-full"
              alt=""
            />
          </div>
          <div class="w-full">
            <div class="text-lg font-semibold no-underline">
            <a href="#" class="text-gray-500">Drive</a></div>
          </div>
        </div>
        <!-- end user list -->
      </div>
      <!-- end chat list -->
      <!-- message -->
      <div class="w-full px-5 flex flex-col justify-between">
        <div class="h-full flex flex-col mt-5">
        {% for message in messages %}
        {% if app.user.id is same as message.user.id %}
        <div class="flex justify-end mb-4">
            <div
              class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
            >
              {{ message.content }}
            </div>
          </div>
        {% else %}
        <div class="flex justify-start mb-4">
            <div
              class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white"
            >
              {{ message.content }}
            </div>
          </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="py-5">
         {{ include('message_chanel/_form.html.twig') }}
        </div>
      </div>
      <!-- end message -->
      </div>
    </div>
</div>
{% endblock %}
